.planet-compare-container {
  border: black 1px solid;
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 10%;
  vertical-align: middle;
  overflow: hidden;
}

.star-compare-container{
  border: black 1px solid;
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 10%;
  vertical-align: middle;
  align-self: center;
  overflow: hidden;
}



