<div class="container">
  <h4 align="center">Size Comparisons</h4>
  <div class="planet-compare-container col-lg-6 col-md-12">

  <h6><span style='font-size:25px;'>&#9686;</span>Earth Radius(e): 1</h6>
  <h6><span style='font-size:25px;'>&#9687;</span>{{name}} Radius(e): {{rade | number: '0.2'}}</h6>
  <svg class="planet-compare" height="500" width="500" ></svg>
  </div>
  <div class="star-compare-container col-lg-6 col-md-12">

    <h6><span style='font-size:25px;'>&#9686;</span>Sun Radius(s): 1</h6>
    <h6><span style='font-size:25px;'>&#9687;</span>{{hostname}} Radius(s): {{rads | number: '0.2'}}</h6>
    <svg class="star-compare" height="500" width="500" ></svg>
  </div>
</div>
