.planet-compare-container{
  display: inline-block;
  border: dimgray 1px solid;
  padding-bottom: 2%;


}

.star-compare-container{
  display: block;
  float: right;
  border: dimgray 1px solid;
  padding-bottom: 2%;

}
svg{
  border: grey 1px solid;
  child-align: auto;

}

