<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<footer class="navbar bg-dark navbar-dark fixed-bottom">
  <div class="container">
    <div class="row mx-auto">
      <a href="http://linkedin.com/in/timothy-j-lynch" type="button" class="btn btn-social-icon btn-linkedin"><i class="fab fa-linkedin fa-2x"></i></a>
      <a href="https://github.com/Lynch0001" type="button" class="btn btn-social-icon btn-github"><i class="fab fa-github fa-2x"></i></a>
      <!--
                  <button type="button" class="btn btn-social-icon btn-envelope"><i class="fas fa-envelope fa-2x"></i></button>
                  <button type="button" class="btn btn-social-icon btn-skype"><i class="fab fa-skype fa-2x"></i></button>
                  <button type="button" class="btn btn-social-icon btn-dropbox"><i class="fab fa-dropbox fa-2x"></i></button>
      -->
    </div>
  </div>
</footer>
