<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework.web" level="DEBUG"/>
    <logger name="com.lynch.exoplanet.planet.PlanetController" level="DEBUG">
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="com.lynch.exoplanet.planet.PlanetService" level="DEBUG">
        <appender-ref ref="FILE"/>
    </logger>
</configuration>
