
<div class="container">`
  <!-- Scatter Plot Card Start -->
  <div class="card" >
    <div class="card-header">
      <h6>Planet Size vs Distance from Earth (Colored by Discovery Method)</h6>
    </div>
    <div class="card-body">
      <figure id="scatter1"></figure>
    </div>
  </div>
  <!-- Scatter Plot Card End -->
  <!-- Scatter Plot Card Start -->
  <div class="card" >
    <div class="card-header">
      <h6>Planetary Mass vs Semi-Major Axis (Colored by Orbital Eccentricity)</h6>
    </div>
    <div class="card-body">
      <figure id="scatter4"></figure>
    </div>
  </div>
  <!-- Scatter Plot Card End -->
  <!-- Scatter Plot Card Start -->
  <div class="card" >
    <div class="card-header">
      <h6>Planetary Mass vs Planetary Radius</h6>
    </div>
    <div class="card-body">
      <figure id="scatter5"></figure>
    </div>
  </div>
  <!-- Scatter Plot Card End -->
  <!-- Scatter Plot Card Start -->
  <div class="card" >
    <div class="card-header">
      <h6>Stellar Luminosity vs Stellar Mass</h6>
    </div>
    <div class="card-body">
      <figure id="scatter2"></figure>
    </div>
  </div>
  <!-- Scatter Plot Card End -->
  <!-- Scatter Plot Card Start -->
  <div class="card" >
    <div class="card-header">
      <h6>Star Size vs Planet Size</h6>
    </div>
    <div class="card-body">
      <figure id="scatter3"></figure>
    </div>
  </div>
  <!-- Scatter Plot Card End -->
</div>
