
g.legend{

  font-family: Calibri, sans-serif;

}
text.x-axis1{
  font-family: Calibri, sans-serif;
}
text.y-axis1{
  font-family: Calibri, sans-serif;
}
text.x-axis2{
  font-family: Calibri, sans-serif;
}
text.y-axis2{
  font-family: Calibri, sans-serif;
}
text.x-axis3{
  font-family: Calibri, sans-serif;
}
text.y-axis3{
  font-family: Calibri, sans-serif;
}
