
g.legend{

  font-family: "Arial Narrow";

}
text.x-axis1{
  font-family: "Calibri";
}
text.y-axis1{
  font-family: "Calibri";
}
text.x-axis2{
  font-family: "Calibri";
}
text.y-axis2{
  font-family: "Calibri";
}
text.x-axis3{
  font-family: "Calibri";
}
text.y-axis3{
  font-family: "Calibri";
}
