<header class="masthead" style="background-image: url(&quot;assets/img/milky-way-2750627_1920.jpg&quot;);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">
        <div class="site-heading">
          <h1>ExoPlanet Data Explorer</h1><span class="subheading">A Discussion Board</span></div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8">

      <div class="post-preview" >
        <a href="#">
          <h2 class="post-title">Title</h2>
          <h3 class="post-subtitle">SubTitle</h3>
        </a>
        <button type="button" class="tag-button">Tag</button>
        <p class="post-meta">Posted by&nbsp;<a href="#">Start Bootstrap on September 24, 2018</a></p>
      </div>
      <hr>



      <div class="clearfix"><button class="btn btn-primary float-right" type="button">Older Posts&nbsp;⇒</button></div>
    </div>
  </div>
</div>
