html {
  height: auto !important;
  padding-bottom: 700px !important;
}


body{
  background-color: red;
}


.container-queries{
  display: inline-block;
  align-content: center;
  font-size: .75em;
}

.container-table{
  display: block;
  float: right;
  align-self: center;

}

th{
  font-size: .75em;
}

td{
  font-size: .75em;

}
.button-query{
  text-align: center;
  width: 90%;
  padding-right: 1em;

}

.button-se{
  background: #ffe8a1;
}


.button-el{
  background: #8fd19e;
}

.button-nl{
  background: #9fcdff;
  border: #000000 1px solid;
}

.button-jl{
  background: #ffc107;
}

.button-sj{
  background: #fd7e14;
}

.button-hot{
  background: #ed969e;
}

.button-gl{
  background: #8fd19e;
}

.button-cold{
  background: white;
}

.button-ws{
  background: white;
}

.button-spect{
  background: #a85d23;
}

.button-specl{
  background: #e03719;
}

.button-specm{
  background: #fc8003;
}

.button-speck{
  background: #fcca03;
}

.button-specg{
  background: #fcfb8b;
}

.button-specf{
  background: #f5f4bc;
}
.button-speca{
  background: #a1cbf0;
}
.button-specb{
  background: #91baf2;
}
.button-speco{
  background: #91a0f2;
}

.button-br{
  background: #cc9900;
}





.button-met{
  background: tan;
}

.button-rock{
  background: silver;
}

.button-ri{
  background: #ffdf7e;
}

.button-gas{
  background: #9fcdff;
}

