.container-main{
  background: lightgrey;
}
.upper-left{
  border: thin solid #605F61;
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}
table{
  margin-bottom: 2%;
  background: white;
}
td{
  padding-top: 0%;
  padding-bottom: 0%;
}

th{
  font-size: smaller;
  padding-top: 0%;
  padding-bottom: 0%;
  font-weight: normal;
}

caption{
  caption-side: top;
  color: #285e8e;
  font-weight: bold;
}

.aladin-ack{
  font-size: small;
}
.selector{
  display: inline-block;
  padding-left: 1pc;
}
.planet-info{
  background: lightgrey;
  position: sticky;
  position: -webkit-sticky;
  top:0;
  z-index: 9999;
}

.record-info{
  float:right;
  font-size: small;
}
.record-number{
  text-align: right;
  padding-right: 1pc;
}

.record-selector{
  border: black 1px solid;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-right: 2px;
  margin-right: 10px;
  width: 6pc;
  font-size: small;
  text-align: center;
}
.record-selector:hover {
  background-color: #000;
  color: white;
}
h2{
  display: inline-block;
}
h6{
  float: right;
}
.upper-right{
  border: thin solid #605F61;
  float: right;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.lower-left{
  border: thin solid #605F61;
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.lower-right{
  border: thin solid #605F61;
  float: right;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}
app-aladin{
  width: 90%;
  height: 100%;
}


app-virtualsky{
  width: 90%;
  height: 90%;
}
svg{
  border: darkgray solid 1px;
}
.supsub {position: absolute}
.subscript {display:block; position:relative; left:2px; top: 19px}
.superscript {display:block; position:relative; left:2px; top: 5px}
