<div class="container-fluid">

  <!-- Planet Header Data -->

  <div class="row">
    <section class="col-md-6 col-sm-8 upper-left">
      <span class="planet-info">
        <span class="selector">
          <h4 class="planet-name">Planet: {{planet.pl_name}}</h4>
          <a (click)="getPreviousId(planet.id)" class="record-selector">&laquo; Previous</a>
          <a (click)="getNextId(planet.id)" class="record-selector">Next &raquo;</a>
        </span>
        <span class="record-info">
          <p class="record-number">Record: {{planet.id}}</p>
        </span>
      </span>
      <hr>

      <!-- System Data -->

      <h6 class="detail-table-name">System Data</h6>
      <table class="table table-sm table-bordered">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Stars</th>
          <th scope="col">Planets</th>
          <th scope="col">Binary System</th>
          <th scope="col">Distance<sub>[pc]</sub></th>
        </tr>
        </thead>
        <tbody>
        <tr>

          <td *ngIf="planet.sy_snum==null || planet.sy_snum==''; else sy_snumNotNull">UNK</td>
          <ng-template #sy_snumNotNull>
            <td>{{planet.sy_snum}}</td>
          </ng-template>

          <td *ngIf="planet.sy_pnum==null; else sy_pnumNotNull">UNK</td>
          <ng-template #sy_pnumNotNull>
            <td>{{planet.sy_pnum}}</td>
          </ng-template>

          <td *ngIf="planet.cb_flag==null; else cb_flagNotNull">UNK</td>
          <ng-template #cb_flagNotNull>
            <td *ngIf="planet.cb_flag==0; else cb_flagTrue">No</td>
            <ng-template #cb_flagTrue>
            <td>Yes</td>
          </ng-template>
          </ng-template>

          <td *ngIf="planet.sy_dist==null; else sy_distNotNull">UNK</td>
          <ng-template #sy_distNotNull>
            <td *ngIf="planet.sy_disterr2==null && planet.sy_disterr1==null; else sy_distErr">
              {{planet.sy_dist | number : '.2-2'}}</td>
            <ng-template #sy_distErr>
              <td>{{planet.sy_dist | number : '.2-2'}} &plusmn;
                <span class="supsub">
                <sup class="superscript">  {{planet.sy_disterr1 | number : '.2-2'}}</sup>
                <sub class="subscript">{{planet.sy_disterr2*-1 | number : '.2-2'}}</sub>
              </span></td>
            </ng-template>
          </ng-template>

        </tr>
        </tbody>
      </table>

      <!-- Physical Planet Data -->

      <h6 class="detail-table-name">Physical Data</h6>
        <table class="table table-sm table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Mass<sub>[Mearth]</sub></th>
              <th scope="col">Mass<sub>[Mjupiter]</sub></th>
              <th scope="col">Mass Est</th>
            </tr>
          </thead>
          <tbody>
            <tr>

              <td *ngIf="planet.pl_bmasse==null; else pl_bmasseNotNull">UNK</td>
              <ng-template #pl_bmasseNotNull>
              <td *ngIf="planet.pl_bmasseerr2==null || planet.pl_bmasseerr2=='' && planet.pl_bmasseerr1==null || planet.pl_bmasseerr1==''; else pl_bmasseErr">
                {{planet.pl_bmasse | number : '.2-2'}}</td>
              <ng-template #pl_bmasseErr>
                <td>{{planet.pl_bmasse | number : '.2-2'}} &plusmn;
                  <span class="supsub">
                <sup class="superscript">  {{planet.pl_bmasseerr1 | number : '.2-2'}}</sup>
                <sub class="subscript">{{planet.pl_bmasseerr2*-1 | number : '.2-2'}}</sub>
              </span></td>
              </ng-template>
              </ng-template>

              <td *ngIf="planet.pl_bmassj==null; else pl_bmassjNotNull">UNK</td>
              <ng-template #pl_bmassjNotNull>
              <td *ngIf="planet.pl_bmassjerr2==null || planet.pl_bmassjerr2=='' && planet.pl_bmassjerr1==null || planet.pl_bmassjerr1==''; else pl_bmassjErr">
                {{planet.pl_bmassj | number : '.2-2'}}</td>
              <ng-template #pl_bmassjErr>
                <td>{{planet.pl_bmassj | number : '.2-2'}} &plusmn;
                  <span class="supsub">
                <sup class="superscript">  {{planet.pl_bmassjerr1 | number : '.2-2'}}</sup>
                <sub class="subscript">{{planet.pl_bmassjerr2*-1 | number : '.2-2'}}</sub>
              </span></td>
              </ng-template>
              </ng-template>
              <td>{{planet.pl_bmassprov}}</td>
            </tr>
          </tbody>
        </table>


      <table class="table table-sm table-bordered">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Radius<sub>[Rearth]</sub></th>
          <th scope="col">Radius<sub>[Rjupiter]</sub></th>
          <th scope="col">Ratio<sub>[radius<sub>planet</sub>]/radius<sub>star</sub>]</sub></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td *ngIf="planet.pl_rade==null; else pl_radeNotNull">UNK</td>
          <ng-template #pl_radeNotNull>
          <td *ngIf="planet.pl_radeerr2==null && planet.pl_radeerr1==null; else pl_radeErr">
            {{planet.pl_rade | number : '.2-2'}}</td>
          <ng-template #pl_radeErr>
            <td>{{planet.pl_rade | number : '.2-2'}} &plusmn;
              <span class="supsub">
                <sup class="superscript">  {{planet.pl_radeerr1 | number : '.2-2'}}</sup>
                <sub class="subscript">{{planet.pl_radeerr2*-1 | number : '.2-2'}}</sub>
              </span></td>
          </ng-template>
          </ng-template>

          <td *ngIf="planet.pl_radj==null; else pl_radjNotNull">UNK</td>
          <ng-template #pl_radjNotNull>
          <td *ngIf="planet.pl_radjerr2==null && planet.pl_radjerr1==null; else pl_radjErr">
            {{planet.pl_radj | number : '.2-2'}}</td>
          <ng-template #pl_radjErr>
            <td>{{planet.pl_radj | number : '.2-2'}} &plusmn;
              <span class="supsub">
                <sup class="superscript">  {{planet.pl_radjerr1 | number : '.2-2'}}</sup>
                <sub class="subscript">{{planet.pl_radjerr2*-1 | number : '.2-2'}}</sub>
              </span></td>
          </ng-template>
          </ng-template>


          <td *ngIf="planet.pl_ratror==null; else pl_ratrorNotNull">UNK</td>
          <ng-template #pl_ratrorNotNull>
            <td>{{planet.pl_ratror | number : '.2-2'}}</td>
          </ng-template>

        </tr>
        </tbody>
      </table>

      <table class="table table-sm table-bordered">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Temp<sub>[K]</sub></th>
          <th scope="col">Temp<sub>[F]</sub></th>
          <th scope="col">Insolation Flux<sub>[Earth Flux]</sub></th>
          <th scope="col">Density<sub>[g/cm<sup>3</sup>]</sub></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td *ngIf="planet.pl_eqt==null; else pl_eqtNotNull">UNK</td>
          <ng-template #pl_eqtNotNull>
            <td *ngIf="planet.pl_eqterr2==null || planet.pl_eqterr2=='' && planet.pl_eqterr1==null || planet.pl_eqterr2==''; else pl_eqtErr">
              {{planet.pl_eqt | number : '.2-2'}}</td>
            <ng-template #pl_eqtErr>
              <td>{{planet.pl_eqt | number : '.2-2'}} &plusmn;
                <span class="supsub">
                  <sup class="superscript">  {{planet.pl_eqterr1 | number : '.2-2'}}</sup>
                  <sub class="subscript">{{planet.pl_eqterr2*-1 | number : '.2-2'}}</sub>
                </span></td>
            </ng-template>
          </ng-template>

          <td *ngIf="planet.pl_eqt==null; else pl_eqtFNotNull">UNK</td>
          <ng-template #pl_eqtFNotNull>
            <td *ngIf="planet.pl_eqterr2==null || planet.pl_eqterr2=='' && planet.pl_eqterr1==null || planet.pl_eqterr2==''; else pl_eqtFErr">
              {{((planet.pl_eqt*9)/5)-459.67 | number : '.2-2'}}</td>
            <ng-template #pl_eqtFErr>
              <td>{{((planet.pl_eqt*9)/5)-459.67 | number : '.2-2'}} &plusmn;
                <span class="supsub">
                  <sup class="superscript">  {{((planet.pl_eqterr1* 9)/5)-459.67 | number : '.2-2'}}</sup>
                  <sub class="subscript">{{((planet.pl_eqterr2* -9)/5)-459.67 | number : '.2-2'}}</sub>
                </span></td>
            </ng-template>
          </ng-template>



          <td *ngIf="planet.pl_insol==null; else pl_insolNotNull">UNK</td>
          <ng-template #pl_insolNotNull>
            <td *ngIf="planet.pl_insolerr2==null ||planet.pl_insolerr2=='' && planet.pl_insolerr1==null ||planet.pl_insolerr1==''; else pl_insolErr">
              {{planet.pl_insol | number : '.2-2'}}</td>
            <ng-template #pl_insolErr>
              <td>{{planet.pl_insol | number : '.2-2'}} &plusmn;
                <span class="supsub">
                <sup class="superscript">  {{planet.pl_insolerr1 | number : '.2-2'}}</sup>
                <sub class="subscript">{{planet.pl_insolerr2*-1 | number : '.2-2'}}</sub>
              </span></td>
            </ng-template>
          </ng-template>





          <td *ngIf="planet.pl_dens==null; else pl_densNotNull">UNK</td>
          <ng-template #pl_densNotNull>
            <td *ngIf="planet.pl_denserr2==null && planet.pl_denserr1==null; else pl_densErr">
              {{planet.pl_dens | number : '.2-2'}}</td>
            <ng-template #pl_densErr>
              <td>{{planet.pl_dens | number : '.2-2'}} &plusmn;
                <span class="supsub">
                <sup class="superscript">  {{planet.pl_denserr1 | number : '.2-2'}}</sup>
                <sub class="subscript">{{planet.pl_denserr2*-1 | number : '.2-2'}}</sub>
              </span></td>
            </ng-template>
          </ng-template>
        </tr>
        </tbody>
      </table>

      <!-- Orbital Planet Data -->

      <h6 class="detail-table-name">Orbital Data</h6>
      <table class="table table-sm table-bordered">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Period<sub>[days]</sub></th>
          <th scope="col">Semi-Major Axis<sub>[au]</sub></th>
          <th scope="col">Eccentricity</th>
          <th scope="col">Inclination<sub>[deg]</sub></th>
        </tr>
        </thead>
        <tbody>
        <tr>

          <td *ngIf="planet.pl_orbper==null; else pl_orbperNotNull">UNK</td>
          <ng-template #pl_orbperNotNull>
          <td *ngIf="planet.pl_orbpererr2==null && planet.pl_orbpererr1==null; else pl_orbperErr">
            {{planet.pl_orbper | number : '.2-2'}}</td>
          <ng-template #pl_orbperErr>
            <td>{{planet.pl_orbper | number : '.2-2'}} &plusmn;
              <span class="supsub">
                <sup class="superscript">  {{planet.pl_orbpererr1 | number : '.2-2'}}</sup>
                <sub class="subscript">{{planet.pl_orbpererr2*-1 | number : '.2-2'}}</sub>
              </span></td>
          </ng-template>
          </ng-template>

          <td *ngIf="planet.pl_orbsmax==null; else pl_orbsmaxNotNull">UNK</td>
          <ng-template #pl_orbsmaxNotNull>
          <td *ngIf="planet.pl_orbsmaxerr2==null && planet.pl_orbsmaxerr1==null; else pl_orbsmaxErr">
            {{planet.pl_orbsmax | number : '.2-2'}}</td>
          <ng-template #pl_orbsmaxErr>
            <td>{{planet.pl_orbsmax | number : '.2-2'}} &plusmn;
              <span class="supsub">
                <sup class="superscript">  {{planet.pl_orbsmaxerr1 | number : '.2-2'}}</sup>
                <sub class="subscript">{{planet.pl_orbsmaxerr2*-1 | number : '.2-2'}}</sub>
              </span></td>
          </ng-template>
          </ng-template>

            <td *ngIf="planet.pl_orbeccen==null; else pl_orbeccenNotNull">UNK</td>
            <ng-template #pl_orbeccenNotNull>
            <td *ngIf="planet.pl_orbeccenerr2==null && planet.pl_orbeccenerr1==null; else pl_orbeccenErr">
            {{planet.pl_orbeccen | number : '.2-2'}}</td>
          <ng-template #pl_orbeccenErr>
            <td>{{planet.pl_orbeccen | number : '.2-2'}} &plusmn;
              <span class="supsub">
                <sup class="superscript">  {{planet.pl_orbeccenerr1 | number : '.2-2'}}</sup>
                <sub class="subscript">{{planet.pl_orbeccenerr2*-1 | number : '.2-2'}}</sub>
              </span></td>
          </ng-template>
          </ng-template>

          <td *ngIf="planet.pl_orbincl==null; else pl_orbinclNotNull">UNK</td>
          <ng-template #pl_orbinclNotNull>
              <td *ngIf="planet.pl_orbinclerr2==null && planet.pl_orbinclerr1==null; else pl_orbinclErr">
            {{planet.pl_orbincl | number : '.2-2'}}</td>
          <ng-template #pl_orbinclErr>
            <td>{{planet.pl_orbincl | number : '.2-2'}} &plusmn;
              <span class="supsub">
                <sup class="superscript">  {{planet.pl_orbinclerr1 | number : '.2-2'}}</sup>
                <sub class="subscript">{{planet.pl_orbinclerr2*-1 | number : '.2-2'}}</sub>
              </span></td>
          </ng-template>
          </ng-template>
        </tr>
        </tbody>
      </table>



      <table class="table table-sm table-bordered">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Transit Duration<sub>[hrs]</sub></th>
          <th scope="col">Transit Depth<sub>[%]</sub></th>
          <th scope="col">Time of Conjunction<sub>[days]</sub></th>
          <th scope="col">Ratio<sub>[distance/radius<sub>star</sub>]</sub></th>

        </tr>
        </thead>
        <tbody>
        <tr>

          <td *ngIf="planet.pl_trandur==null; else pl_trandurNotNull">UNK</td>
          <ng-template #pl_trandurNotNull>
              <td>{{planet.pl_trandur | number : '.2-2'}}</td>
          </ng-template>

          <td *ngIf="planet.pl_trandep==null; else pl_trandepNotNull">UNK</td>
          <ng-template #pl_trandepNotNull>
            <td>{{planet.pl_trandep | number : '.2-2'}}</td>
          </ng-template>



          <td *ngIf="planet.pl_tranmid==null; else pl_tranmidNotNull">UNK</td>
          <ng-template #pl_tranmidNotNull>
            <td>{{planet.pl_tranmid | number : '.2-2'}}</td>
          </ng-template>

          <td *ngIf="planet.pl_ratdur==null; else pl_ratdurNotNull">UNK</td>
          <ng-template #pl_ratdurNotNull>
            <td>{{planet.pl_ratdur | number : '.2-2'}}</td>
          </ng-template>



        </tr>
        </tbody>
      </table>

      <!-- Planet Discovery Data -->

      <h6 class="detail-table-name">Discovery Data</h6>
      <table class="table table-sm table-bordered">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Discovery Method</th>
          <th scope="col">Location</th>
          <th scope="col">Facility</th>
          <th scope="col">Telescope</th>
          <th scope="col">Discovered</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{planet.discoverymethod}}</td>
          <td>{{planet.disc_locale}}</td>
          <td>{{planet.disc_facility}}</td>
          <td>{{planet.disc_telescope}}</td>
          <td>{{planet.disc_year}}</td>
        </tr>
        </tbody>
      </table>

    </section>

    <!-- Aladin Applet-->

    <section class="col-md-6 col-sm-8 upper-right">
        <H4>Imagery for {{planet.hostname}}</H4>
        <app-aladin [aladinPlanetImport]="planet.hostname"></app-aladin>
        <H4 class="aladin-ack">"Aladin sky atlas" developed at Strasbourg astronomical Data Center (CDS), Strasbourg Observatory, France</H4>
    </section>

  </div>

  <!-- Star Data -->

  <div class="row">
    <section class="col-md-6 col-sm-8 lower-left">
        <h4>Star: {{planet.hostname}} </h4>

      <!-- Star Table Identification-->

      <h6 class="detail-table-name">Alternative Identification Data</h6>
      <table class="table table-sm table-bordered">
        <thead class="thead-dark">
        <tr>
          <th scope="col">HD Name</th>
          <th scope="col">HIP Name</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td *ngIf="planet.hd_name==null || planet.hd_name==''; else hd_nameNotNull">UNK</td>
          <ng-template #hd_nameNotNull>
            <td>{{ planet.hd_name }}</td>
          </ng-template>
          <td *ngIf="planet.hip_name==null || planet.hip_name==''; else hip_nameNotNull">UNK</td>
          <ng-template #hip_nameNotNull>
            <td>{{ planet.hip_name }}</td>
          </ng-template>
        </tr>
        </tbody>
        <thead class="thead-dark">
        <tr>
          <th scope="col">TIC Id</th>
          <th scope="col">GAIA Id</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td *ngIf="planet.tic_id==null || planet.tic_id==''; else tic_idNotNull">UNK</td>
          <ng-template #tic_idNotNull>
            <td>{{ planet.tic_id }}</td>
          </ng-template>
          <td *ngIf="planet.gaia_id==null || planet.gaia_id==''; else gaia_idNotNull">UNK</td>
          <ng-template #gaia_idNotNull>
            <td>{{ planet.gaia_id }}</td>
          </ng-template>
        </tr>
        </tbody>
      </table>


      <!-- Star Table Physical Data -->

      <h6 class="detail-table-name">Physical Data</h6>
      <table class="table table-sm table-bordered">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Mass<sub>[Msun]</sub></th>
          <th scope="col">Radius<sub>[Rsun]</sub></th>
          <th scope="col">Temp<sub>[K]</sub></th>
          <th scope="col">Age<sub>[Gyr]</sub></th>
        </tr>
        </thead>
        <tbody>
        <tr>

          <td *ngIf="planet.st_mass==null; else st_massNotNull">UNK</td>
          <ng-template #st_massNotNull>
            <td *ngIf="planet.st_masserr2==null && planet.st_masserr1==null; else st_massErr">
              {{planet.st_mass | number : '.2-2'}}</td>
            <ng-template #st_massErr>
              <td>{{planet.st_mass | number : '.2-2'}} &plusmn;
                <span class="supsub">
                <sup class="superscript">  {{planet.st_masserr1 | number : '.2-2'}}</sup>
                <sub class="subscript">{{planet.st_masserr2*-1 | number : '.2-2'}}</sub>
              </span></td>
            </ng-template>
          </ng-template>


          <td *ngIf="planet.st_rad==null; else st_radNotNull">UNK</td>
          <ng-template #st_radNotNull>
            <td *ngIf="planet.st_raderr2==null && planet.st_raderr1==null; else st_radErr">
              {{planet.st_rad | number : '.2-2'}}</td>
            <ng-template #st_radErr>
              <td>{{planet.st_rad | number : '.2-2'}} &plusmn;
                <span class="supsub">
                <sup class="superscript">  {{planet.st_raderr1 | number : '.2-2'}}</sup>
                <sub class="subscript">{{planet.st_raderr2*-1 | number : '.2-2'}}</sub>
              </span></td>
            </ng-template>
          </ng-template>

          <td *ngIf="planet.st_teff==null; else st_teffNotNull">UNK</td>
          <ng-template #st_teffNotNull>
            <td *ngIf="planet.st_tefferr2==null && planet.st_tefferr1==null; else st_teffErr">
              {{planet.st_teff | number : '.2-2'}}</td>
            <ng-template #st_teffErr>
              <td>{{planet.st_teff | number : '.0'}} &plusmn;
                <span class="supsub">
                <sup class="superscript">  {{planet.st_tefferr1 | number : '.0'}}</sup>
                <sub class="subscript">{{planet.st_tefferr2*-1 | number : '.0'}}</sub>
              </span></td>
            </ng-template>
          </ng-template>

          <td *ngIf="planet.st_age==null; else st_ageNotNull">UNK</td>
          <ng-template #st_ageNotNull>
            <td>{{planet.st_age  | number : '.2-2'}}</td>
          </ng-template>

        </tr>
        </tbody>
      </table>

      <!-- Star Table 2a -->


      <table class="table table-sm table-bordered">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Gravity<sub>[log10(cm/s<sup>2</sup>)]</sub></th>
          <th scope="col">Density<sub>[g/cm<sup>3</sup>]</sub></th>
          <th scope="col">Stellar Metallicity<sub>[dex]</sub></th>
          <th scope="col">Metallicity Ratio</th>
        </tr>
        </thead>
        <tbody>
        <tr>

          <td *ngIf="planet.st_logg==null; else st_loggNotNull">UNK</td>
          <ng-template #st_loggNotNull>
            <td *ngIf="planet.st_loggerr2==null && planet.st_loggerr1==null; else st_loggErr">
              {{planet.st_logg | number : '.2-2'}}</td>
            <ng-template #st_loggErr>
              <td>{{planet.st_logg | number : '.2-2'}} &plusmn;
                <span class="supsub">
                <sup class="superscript">  {{planet.st_loggerr1 | number : '.2-2'}}</sup>
                <sub class="subscript">{{planet.st_loggerr2*-1 | number : '.2-2'}}</sub>
              </span></td>
            </ng-template>
          </ng-template>

          <td *ngIf="planet.st_dens==null; else st_densNotNull">UNK</td>
          <ng-template #st_densNotNull>
            <td *ngIf="planet.st_denserr2=='' && planet.st_denserr1==''; else st_densErr">
              {{planet.st_dens | number : '.2-2'}}</td>
            <ng-template #st_densErr>
              <td>{{planet.st_dens | number : '.2-2'}} &plusmn;
                <span class="supsub">
                <sup class="superscript">  {{planet.st_denserr1 | number : '.2-2'}}</sup>
                <sub class="subscript">{{planet.st_denserr2*-1 | number : '.2-2'}}</sub>
              </span></td>
            </ng-template>
          </ng-template>

          <td *ngIf="planet.st_met==null; else st_metNotNull">UNK</td>
          <ng-template #st_metNotNull>
            <td *ngIf="planet.st_meterr2=='' && planet.st_meterr1==''; else st_metErr">
              {{planet.st_met | number : '.2-2'}}</td>
            <ng-template #st_metErr>
              <td>{{planet.st_met | number : '.2-2'}} &plusmn;
                <span class="supsub">
                <sup class="superscript">  {{planet.st_meterr1 | number : '.2-2'}}</sup>
                <sub class="subscript">{{planet.st_meterr2*-1 | number : '.2-2'}}</sub>
              </span></td>
            </ng-template>
          </ng-template>

          <td *ngIf="planet.st_metratio==null || planet.st_metratio==''; else st_metratioNotNull">UNK</td>
          <ng-template #st_metratioNotNull>
            <td>{{planet.st_metratio}}</td>
          </ng-template>

        </tr>
        </tbody>
      </table>


      <!-- Star Table 2b -->

      <h6 class="detail-table-name">Spectral Data</h6>
      <table class="table table-sm table-bordered">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Spectral Type</th>
          <th scope="col">Luminosity</th>
          <th scope="col">B (Johnson)</th>
          <th scope="col">V (Johnson)</th>
        </tr>
        </thead>
        <tbody>
        <tr>

          <td *ngIf="planet.st_spectype==null || planet.st_spectype==''; else st_spectypeNotNull">UNK</td>
          <ng-template #st_spectypeNotNull>
            <td>{{planet.st_spectype}}</td>
          </ng-template>

          <td *ngIf="planet.st_lum==null; else st_lumNotNull">UNK</td>
          <ng-template #st_lumNotNull>
            <td>{{planet.st_lum}}</td>
          </ng-template>

          <td *ngIf="planet.sy_bmag==null; else sy_bmagNotNull">UNK</td>
          <ng-template #sy_bmagNotNull>
            <td>{{planet.sy_bmag}}</td>
          </ng-template>

          <td *ngIf="planet.sy_vmag==null; else sy_vmagNotNull">UNK</td>
          <ng-template #sy_vmagNotNull>
            <td>{{planet.sy_vmag}}</td>
          </ng-template>

        </tr>
        </tbody>

        <thead class="thead-dark">
      <tr>
        <th scope="col">WISE W1</th>
        <th scope="col">WISE W2</th>
        <th scope="col">WISE W3</th>
        <th scope="col">WISE W4</th>
      </tr>
      </thead>
        <tbody>
        <tr>

          <td *ngIf="planet.sy_w1mag==null || planet.sy_w1mag==''; else sy_w1magNotNull">UNK</td>
          <ng-template #sy_w1magNotNull>
            <td>{{planet.sy_w1mag}}</td>
          </ng-template>

          <td *ngIf="planet.sy_w2mag==null; else sy_w2magNotNull">UNK</td>
          <ng-template #sy_w2magNotNull>
            <td>{{planet.sy_w2mag}}</td>
          </ng-template>

          <td *ngIf="planet.sy_w3mag==null; else sy_w3magNotNull">UNK</td>
          <ng-template #sy_w3magNotNull>
            <td>{{planet.sy_w3mag}}</td>
          </ng-template>

          <td *ngIf="planet.sy_w4mag==null; else sy_w4magNotNull">UNK</td>
          <ng-template #sy_w4magNotNull>
            <td>{{planet.sy_w4mag}}</td>
          </ng-template>

        </tr>
        </tbody>

      </table>


      <table class="table table-sm table-bordered">
      <thead class="thead-dark">
      <tr>
        <th scope="col">2MASS J</th>
        <th scope="col">2MASS H</th>
        <th scope="col">2MASS Ks</th>
      </tr>
      </thead>
      <tbody>
      <tr>

        <td *ngIf="planet.sy_jmag==null || planet.sy_jmag==''; else sy_jmagNotNull">UNK</td>
        <ng-template #sy_jmagNotNull>
          <td>{{planet.sy_jmag}}</td>
        </ng-template>

        <td *ngIf="planet.sy_hmag==null; else sy_hmagNotNull">UNK</td>
        <ng-template #sy_hmagNotNull>
          <td>{{planet.sy_hmag}}</td>
        </ng-template>

        <td *ngIf="planet.sy_kmag==null; else sy_kmagNotNull">UNK</td>
        <ng-template #sy_kmagNotNull>
          <td>{{planet.sy_kmag}}</td>
        </ng-template>
      </tr>
      </tbody>
      </table>

      <!-- Star Spectral Sloan filters -->

      <table class="table table-sm table-bordered">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Sloan u</th>
          <th scope="col">Sloan g</th>
          <th scope="col">Sloan r</th>
          <th scope="col">Sloan i</th>
          <th scope="col">Sloan z</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td *ngIf="planet.sy_umag==null; else sy_umagNotNull">UNK</td>
          <ng-template #sy_umagNotNull>
            <td *ngIf="planet.sy_umagerr2=='' && planet.sy_umagerr1==''; else sy_umagErr">
              {{planet.sy_umag | number : '.2-2'}}</td>
            <ng-template #sy_umagErr>
              <td>{{planet.sy_umag | number : '.2-2'}} &plusmn;
                <span class="supsub">
                <sup class="superscript">  {{planet.sy_umagerr1 | number : '.2-2'}}</sup>
                <sub class="subscript">{{planet.sy_umagerr2*-1 | number : '.2-2'}}</sub>
              </span></td>
            </ng-template>
          </ng-template>

          <td *ngIf="planet.sy_gmag==null; else sy_gmagNotNull">UNK</td>
          <ng-template #sy_gmagNotNull>
            <td *ngIf="planet.sy_gmagerr2=='' && planet.sy_gmagerr1==''; else sy_gmagErr">
              {{planet.sy_gmag | number : '.2-2'}}</td>
            <ng-template #sy_gmagErr>
              <td>{{planet.sy_gmag | number : '.2-2'}} &plusmn;
                <span class="supsub">
                <sup class="superscript">  {{planet.sy_gmagerr1 | number : '.2-2'}}</sup>
                <sub class="subscript">{{planet.sy_gmagerr2*-1 | number : '.2-2'}}</sub>
              </span></td>
            </ng-template>
          </ng-template>

          <td *ngIf="planet.sy_rmag==null; else sy_rmagNotNull">UNK</td>
          <ng-template #sy_rmagNotNull>
            <td *ngIf="planet.sy_rmagerr2=='' && planet.sy_rmagerr1==''; else sy_rmagErr">
              {{planet.sy_rmag | number : '.2-2'}}</td>
            <ng-template #sy_rmagErr>
              <td>{{planet.sy_gmag | number : '.2-2'}} &plusmn;
                <span class="supsub">
                <sup class="superscript">  {{planet.sy_rmagerr1 | number : '.2-2'}}</sup>
                <sub class="subscript">{{planet.sy_rmagerr2*-1 | number : '.2-2'}}</sub>
              </span></td>
            </ng-template>
          </ng-template>

          <td *ngIf="planet.sy_imag==null; else sy_imagNotNull">UNK</td>
          <ng-template #sy_imagNotNull>
            <td *ngIf="planet.sy_imagerr2=='' && planet.sy_imagerr1==''; else sy_imagErr">
              {{planet.sy_imag | number : '.2-2'}}</td>
            <ng-template #sy_imagErr>
              <td>{{planet.sy_imag | number : '.2-2'}} &plusmn;
                <span class="supsub">
                <sup class="superscript">  {{planet.sy_imagerr1 | number : '.2-2'}}</sup>
                <sub class="subscript">{{planet.sy_imagerr2*-1 | number : '.2-2'}}</sub>
              </span></td>
            </ng-template>
          </ng-template>

          <td *ngIf="planet.sy_zmag==null; else sy_zmagNotNull">UNK</td>
          <ng-template #sy_zmagNotNull>
            <td *ngIf="planet.sy_zmagerr2=='' && planet.sy_zmagerr1==''; else sy_zmagErr">
              {{planet.sy_imag | number : '.2-2'}}</td>
            <ng-template #sy_zmagErr>
              <td>{{planet.sy_zmag | number : '.2-2'}} &plusmn;
                <span class="supsub">
                <sup class="superscript">  {{planet.sy_zmagerr1 | number : '.2-2'}}</sup>
                <sub class="subscript">{{planet.sy_zmagerr2*-1 | number : '.2-2'}}</sub>
              </span></td>
            </ng-template>
          </ng-template>
        </tr>
        </tbody>
      </table>

      <!-- Star Table Motion Data -->

      <h6 class="detail-table-name">Motion Data</h6>
      <table class="table table-sm table-bordered">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Rad Velocity<sub>[km/sec]</sub></th>
          <th scope="col">Rot Velocity<sub>[km/sec]</sub></th>
          <th scope="col">Rot Period<sub>[days]</sub></th>
        </tr>
        </thead>
        <tbody>
        <tr>

          <td *ngIf="planet.st_radv==null; else st_radvNotNull">UNK</td>
          <ng-template #st_radvNotNull>
          <td *ngIf="planet.st_radverr2=='' && planet.st_radverr1==''; else st_radvErr">
            {{planet.st_radv | number : '.2-2'}}</td>
          <ng-template #st_radvErr>
            <td>{{planet.st_radv | number : '.2-2'}} &plusmn;
              <span class="supsub">
                <sup class="superscript">  {{planet.st_radverr1 | number : '.2-2'}}</sup>
                <sub class="subscript">{{planet.st_radverr2*-1 | number : '.2-2'}}</sub>
              </span></td>
          </ng-template>
          </ng-template>

          <td *ngIf="planet.st_vsin==null; else st_vsinNotNull">UNK</td>
          <ng-template #st_vsinNotNull>
          <td *ngIf="planet.st_vsinerr2=='' && planet.st_vsinerr1==''; else st_vsinErr">
            {{planet.st_vsin | number : '.2-2'}}</td>
          <ng-template #st_vsinErr>
            <td>{{planet.st_vsin | number : '.2-2'}} &plusmn;
              <span class="supsub">
                <sup class="superscript">  {{planet.st_vsinerr1 | number : '.2-2'}}</sup>
                <sub class="subscript">{{planet.st_vsinerr2*-1 | number : '.2-2'}}</sub>
              </span></td>
          </ng-template>
          </ng-template>


          <td *ngIf="planet.st_rotp==null; else st_rotpNotNull">UNK</td>
          <ng-template #st_rotpNotNull>
            <td *ngIf="planet.st_rotperr2=='' && planet.st_rotperr1==''; else st_rotpErr">
              {{planet.st_rotp | number : '.2-2'}}</td>
            <ng-template #st_rotpErr>
              <td>{{planet.st_rotp | number : '.2-2'}} &plusmn;
                <span class="supsub">
                <sup class="superscript">  {{planet.st_rotperr1 | number : '.2-2'}}</sup>
                <sub class="subscript">{{planet.st_rotperr2*-1 | number : '.2-2'}}</sub>
              </span></td>
            </ng-template>
          </ng-template>



        </tr>
        </tbody>
      </table>

      <!-- Star Table 4 -->
      <h6 class="detail-table-name">Location Data</h6>
      <table class="table table-sm table-bordered">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Latitude<sub>[deg]</sub></th>
          <th scope="col">Longitude<sub>[deg]</sub></th>
          <th scope="col">RA</th>
          <th scope="col">DEC</th>
        </tr>
        </thead>
        <tbody>
        <tr>

          <td *ngIf="planet.glon==null; else glonNotNull">UNK</td>
          <ng-template #glonNotNull>
            <td>{{planet.glon}}</td>
          </ng-template>

          <td *ngIf="planet.glat==null; else glatNotNull">UNK</td>
          <ng-template #glatNotNull>
            <td>{{planet.glat}}</td>
          </ng-template>

          <td *ngIf="planet.ra==null; else raNotNull">UNK</td>
          <ng-template #raNotNull>
            <td>{{planet.ra}}</td>
          </ng-template>

          <td *ngIf="planet.dec==null; else decNotNull">UNK</td>
          <ng-template #decNotNull>
            <td>{{planet.dec}}</td>
          </ng-template>
        </tr>
        </tbody>
      </table>
    </section>


    <section class="col-md-6 col-sm-8 lower-right">

      <section>
        <H4>SkyView for {{planet.hostname}}</H4>
        <app-virtualsky [decImport]="this.planet.dec" [raImport]="this.planet.ra" [nameImport]="this.planet.hostname"></app-virtualsky>


        <app-aladin [aladinPlanetImport]="planet.hostname"></app-aladin>


      </section>




    </section>

    <h4>Size Comparison: Earth to {{planet.pl_name}}</h4>
    <p>Radius(e): {{planet.pl_rade}}</p>
    <svg height="300" width="700">
      <text x="10" y="25">Earth</text>
      <text x="315" y="25">{{planet.pl_name}}</text>
    </svg>


  </div>
</div>
